<h1>Burgers!</h1>


<div>
    <h2>Burgers Listed</h2>
  {{#each burger}}
    {{#unless this.devoured}}
      {{return(burger)}}
    {{/unless}}
  {{/each}}
</div>

<h2> Burgers</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">BurgerName:</label>
    <input type="text" id="newburger" name="name">
  </div>

 

  <button type="submit">Add Burger</button>
</form>